version: 2
updates:
  - package-ecosystem: "npm"
    directory: /
    schedule:
      interval: weekly
    allow:
      - dependency-type: production
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
    groups:
      all-npm:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: /
    schedule:
      interval: monthly
    groups:
      all-actions:
        patterns:
          - "*"
