@font-face {
    font-family: 'FuturaEF-Book';
    src: url('./assets/fonts/FuturaEF-Book.eot');
    src: local('FuturaEF-Book'), local('Futura EF Book'), local('Futura Text EF Pro Book'),
    url('./assets/fonts/FuturaEF-Book.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FuturaEF-Book.woff2') format('woff2'),
    url('./assets/fonts/FuturaEF-Book.woff') format('woff'),
    url('./assets/fonts/FuturaEF-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
