.cardstyle:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}

.cardstyle {
    background-size: 105%; /* since cards are cut */
    background-position: center;
    width: 100%;
    aspect-ratio: 2429 / 3308; /* matching actual image */
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
